---
// Simple Astro page that serves the static HTML
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savor - Loading...</title>
</head>
<body>
    <h1>Testing Astro Setup</h1>
    <p>If you can see this, Astro is working!</p>
</body>
</html>